<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd" xmlns="http://symfony.com/schema/routing">

    <route id="lucky_number" controller="App\Controller\LuckyController::number" path="/lucky/number">

    </route>

</routes>